<!DOCTYPE html>
<html>

<head>
      <title>To Do List</title>
</head>

<body style="font-family:Arial; background:#f2f2f2;">

      <h2 style="text-align:center;">📝 My To-Do List</h2>

      <center>
            <form action="/add-task" method="post"
                  style="background:#fff;padding:20px;width:350px;border-radius:8px;box-shadow:0 0 10px #ccc;">

                  <input type="text" name="task" placeholder="Enter task" required style="width:100%;padding:8px;">
                  <br><br>

                  <button style="padding:8px 15px;background:#28a745;color:#fff;border:none;">
                        Add Task
                  </button>
            </form>

            <br>

            <table cellpadding="10" style="background:#fff;width:50%;border-collapse:collapse;">
                  <% tasks.forEach((task,index)=>{ %>
                        <tr>
                              <td>
                                    <%= task %>
                              </td>
                              <td>
                                    <a href="/delete/<%= index %>" style="color:red;">Delete</a>
                              </td>
                        </tr>
                        <% }) %>
            </table>

      </center>
</body>

</html>